@keyframes appear-x {
    from{
      opacity: 0;
      transform: translateX(-50px);
    }to{
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes appear-y {
    from{
      opacity: 0;
      transform: translateY(50px);
    }to{
      opacity: 1;
      transform: translateY(0);
    }
}

.appear-x{
  opacity: 0;
}

.appear-y{
  opacity: 0;
}

.first-container.show {animation: appear-y 1s ease-out forwards}
.jobs-container.show {animation:appear-x 1s ease-out forwards}

.jobs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-decoration: none;
  gap: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

a .job-card {
  background-color: #f9f9f9;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}

.job-card:hover{
  transform: scale(1.05);
  color: black;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.first-container{
  padding-bottom: 5%;
}